form{
	width:44vw;
	margin:20px 10px;
}
.input{
  
	border: 2px solid rgb(34, 62, 200);
  width: 80%;
}
.search{
	background-color:rgb(34, 62, 200);
	font-size: large;
	color: antiquewhite;
	border: 1px solid rgb(34, 62, 200);
  margin : 5px
}


